# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment folders (if using)
venv/
env/

# Ignore system-specific files or folders
.DS_Store
Thumbs.db

# Ignore any logs or temporary files
logs/
temp/

# Ignore editor-specific files
.vscode/
.idea/
